<div class="container mt-5">
   <h3 class="text-center text-primary">Aprender NUnit</h3>

   <form class="mt-4 p-4 border rounded shadow-sm bg-light">
      <div class="mb-3">
         <label for="inputTitulo" class="form-label">Título de la tarea</label>
         <input
            id="inputTitulo"
            type="text"
            class="form-control"
            [(ngModel)]="titulo"
            placeholder="Ingresa nueva tarea"
            [ngModelOptions]="{standalone: true}"
            required
         />
      </div>
      <div class="form-check mb-3">
         <input 
            class="form-check-input" 
            type="checkbox" 
            [(ngModel)]="completada" 
            [ngModelOptions]="{standalone: true}" 
            id="checkBox">
         <label class="form-check-label" for="checkBox">
           ¿Completada?
         </label>
      </div>
      <button type="button" class="btn btn-primary w-100" (click)="agregarTarea()">Agregar Tarea</button>
   </form>

   <div class="mt-5">
      <h4 class="text-secondary">Listado de Tareas:</h4>
      <div *ngFor="let tarea of tareas" class="card mt-3 shadow-sm">
         <div class="card-body">
            <p><strong>ID:</strong> {{tarea?.id}}</p>
            <p><strong>Nombre:</strong> {{tarea?.titulo}}</p>
            <p><strong>Completada:</strong> <span [class]="tarea?.completada ? 'text-success' : 'text-danger'">{{(tarea?.completada)? 'SÍ':'NO'}}</span></p>
         </div>
      </div>
   </div>
</div>
